/*background: url('../img/school-photo.jpeg');*/

.transparentna-slika {
  background: url('../img/learning.jpg') center/cover no-repeat; /* Postavljamo sliku kao pozadinu */
  background-color: rgba(240, 211, 197, 0.5); /* Dodajemo transparentnost boje */
  width: 100%; /* Podešavamo širinu elementa */
  height: 100%; /* Podešavamo visinu elementa (u ovom primeru na visinu ekrana) */
  position: fixed; /* Fiksiramo sliku na pozadinu */
  top: 0;
  left: 0;
  z-index: -1; /* Postavljamo z-index na -1 kako bi bila iza ostalih elemenata na stranici */
}

/* Dodatni stilovi za druge elemente na stranici */
body {
  margin: 0;
  padding: 0;
  background-color: #f0d3c5; /* Postavljamo boju pozadine stranice  #f0d3c5; */
  /* Dodatni stilovi za body */
  font-family: "Roboto", sans-serif;
}



body {
    background-color: white; /* #cee9f0;*/
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .forma {
    margin-top: 150px!important;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    background-color: #fff; 
  }
  
  #izabranaOpcija {
    padding-left: 7px;
    padding-right: 50px;
  }
  
  #Login {

    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #5b08a7;
    border: 0;
    text-decoration: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  
  #password-error,
  #username-error {
    font-size: small;
    display: none;
    color: red;
  }
  
  #tekstForme {
    display: flex;
    flex-direction: column;
  }
  
  .txt {
    margin-bottom: 10px;
  }
  
  .celaForma{
    text-align: center!important;
    font-family: "Verdana", sans-serif;
  }