/*OVO JE CSS STRANICA ZA HOME-PAGE-PROFESORA*/

.odeljenja{
   /* background-color: antiquewhite;*/
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  
}
.odeljenja{
    color: #323623;
    text-align: center;

}

.dobrodosliProfesore{
    /*background-color: rgb(122, 109, 52);*/
    padding-top: 50px;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: #3a3f28;
    text-align: center;
    margin-top: 100px!important;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    width: 600px;
    margin: 0 auto;
    background-color: #fff; 
    
}

body{

   /* background-color:bisque ;*/
    background-color: #f0d3c5;
}


.odeljenje-okvir {
    margin-top: 20px; /* Smanjio sam margin-top radi lakšeg praćenja u primeru */
    margin-right: 50px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    width: 300px;
    margin-bottom: 20px; /* Dodao sam margin-bottom radi razdvajanja okvira */
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /* Postavljanje orijentacije na horizontalno */
    justify-content: space-between; /* Poravnanje elemenata na krajeve okvira */
    align-items: center; /* Centriranje vertikalno */


    text-decoration: none; 
    color: inherit; 
  }

  .spoljniKont{
    display: flex;
    justify-content: space-around; /* ili space-between, zavisno od željenog rasporeda */
    flex-wrap: wrap;
  }
  

