body{

   /* background-color:bisque ;*/
    background-color: #f0d3c5;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.sve {
    background-image: linear-gradient(rgb(255, 254, 254), #3fafcb, white);
    padding-bottom: 120px;
}

#dobrodosliRoditelj{
padding-top: 50px;
/*padding-left: 600px;*/
text-align: center;
}

#izaberiDete{
    /*padding-left: 650px;*/
    text-align: center;
    padding-right: 5px;
    }
    
#dete1{
  
    margin-left: 250px;
    margin-top: 30px;
   border-radius: 10px; 
   width: 180px; 
   height: 250px; 
}    

#dete2{
  
    margin-left: 250px;
    margin-top: 30px;
   border-radius: 10px; 
   width: 180px; 
   height: 250px; 
}    

#dete3{
  
    margin-left: 250px;
    margin-top: 30px;
   border-radius: 10px; 
   width: 180px; 
   height: 250px; 
}    

#ImePrezime1{
    margin-left: 300px;
   
}

#ImePrezime2{
    margin-left: 335px;  
}
#ImePrezime3{
    margin-left: 335px;  
}

.horizontalno {
    display: flex;
    flex-direction: row;
  }
  
  /* Opciono: Dodajte margine između elemenata ako želite razmak između njih */
  .horizontalno h3 {
    margin-right: 10px;
  }